:root {
  --almost-white: #fafafa;
  --medium-gray: #696969;
  --almost-black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  /* border: 4px solid salmon; */
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--almost-white);
}

.main-container {
  width: 100%;
  height: auto;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* min-width: 320px; */
  height: 60px;
  padding: 20px 12px 10px;
}

.logo-container a {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.desktop-menu-container {
  display: none;
  margin-left: 40px;
}

.desktop-menu-list {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.desktop-menu-list li {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: var(--medium-gray);
  font-size: 1.6rem;
  font-weight: 500;
}

.desktop-menu-list li:hover {
  cursor: pointer;
  color: var(--almost-black);
}

/* This below is a little trick to change the down arrows on the nav to --almost-black color, sort of. */
.desktop-menu-list li:hover img {
  filter: invert(0%) sepia(78%) saturate(100%) hue-rotate(351deg)
    brightness(10%) contrast(84%);
}

.desktop-menu-list li > span {
  margin-left: 8px;
  margin-bottom: 3px;
}

/* .desktop-menu-list a {
  text-decoration: none;
  color: var(--medium-gray);
  font-size: 1.6rem;
  font-weight: 500;
} */

.mobile-menu-container{
  /* border: 1px solid var(--almost-black); */
  background-color: var(--almost-white);
  min-width: 70%;
  max-width: 80%;
  min-height: 100vh;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

 .closeIcon-container {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}

.mobile-menu-closeIcon {
  display: block;
  width: 25px;
  height: 25px;
}

.mobile-menu-closeIcon img {
  width: 100%;
}

.links-list .main-li {
  /* display: flex; */
  align-items: center;

  list-style: none;
  color: var(--medium-gray);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 22px;
}

.links-list .main-li > span {
  margin-left: 8px;
  /* I will check if this position relative does not cause issues in the future. */
  position: relative;
  top: -1px;
}

.links-list .main-li > a {
  text-decoration: none;
  color: var(--medium-gray);
}  

.second-level-ul {
  margin-top: 22px;
  margin-left: 25px;
}

.second-level-ul li {
  list-style: none;
  margin-bottom: 20px;
}

.features-list > a {
  text-decoration: none;
  color: var(--medium-gray);
}

.features-list li {
  display: flex;
  align-items: center;
}

.features-list li > span {
  width: 18px;
  margin-right: 10px;
}

.features-list li > span > img {
  width: 100%;
}

.company-list > li:hover{
  cursor: pointer;
}

.main-li:hover {
  cursor: pointer;
}

.mobile-menu-login {
  width: 100%;
  height: auto;
  margin-top: 30px;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
}

.mobile-menu-login a {
  display: block;
  text-decoration: none;
  color: var(--medium-gray);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.mobile-menu-login .mobile-register-btn{
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid var(--medium-gray);
  padding: 12px;
  border-radius: 12px;
}

.darken {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.inactive {
  display: none;
}

.grid-inactive {
  visibility: hidden;
}

.features-container {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row: auto;
  position: absolute;
  left: 140px;
  top: 60px;
  padding: 14px 18px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
  -webkit-box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
}

.features-container a {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--medium-gray);
}

.one {
  grid-column: 1 / 2;
}

.two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.four {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.company-container{
  display: grid;
  position: absolute;
  left: 340px;
  top: 60px;
  padding: 14px 18px;
  border-radius: 8px;
  box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
  -webkit-box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px 9px 50px -7px rgba(0,0,0,0.33);
}

.company-container a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--medium-gray);
  margin: 8px 8px;
}

.desktop-login {
  display: none;
  width: auto;
}

.desktop-login a {
  text-decoration: none;
  color: var(--medium-gray);
  font-size: 1.6rem;
  font-weight: 500;
}

.desktop-login .login:hover {
  color: var(--almost-black);
}

.desktop-login .register:hover {
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.hero-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 12px;
}

.hero-img-container img {
  width: 100%;
  max-width: 550px;
  z-index: -1;
}

.hero-info-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 8px;
}

.hero-info-container h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-info-container p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3rem;
  margin-bottom: 20px;
  color: var(--medium-gray);
}

.hero-cta-btn {
  /* Display flex is needed for anchor tag to take dimensions */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 135px;
  height: 45px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 14px;
  text-decoration: none;
  position: relative;
  z-index: -1;
}

.hero-cta-btn:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.partners-logos-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.partner-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo-wrapper img {
  width: 75%;
}

