:root {
  --almost-white: #fafafa;
  --medium-gray: #696969;
  --almost-black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  /* border: 4px solid salmon; */
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* min-width: 320px; */
  height: 60px;
  padding: 20px 12px 10px;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 12px;
}

.hero-img-container img {
  width: 100%;
  max-width: 550px;
}

.hero-info-container{
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 8px;
}

.hero-info-container h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-info-container p{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3rem;
  margin-bottom: 20px;
  color: var(--medium-gray);
}

.hero-cta-btn {
  /* Display flex is needed for anchor tag to take dimensions */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 135px;
  height: 45px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 14px;
  text-decoration: none;
}

.partners-logos-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.partner-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo-wrapper img {
  width: 75%;
}